
 /* Dropdown start */
 .dropbtn {
    background-color: #d7e9f1;
    color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
    line-height: 42px;
    margin-right: 20px;
    padding: 0px 20px;
  }
  
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #d7e9f1;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
 
.dropdownIndhold {
    display: none;
    position: absolute;  
    top: calc(100% + .3em);
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  }
  
.dropdownIndhold a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdownIndhold a:hover {
    background-color: #bfcdd4;
  }
  
.show {
    display:block;
  } 
  /* Dropdown slut */

/* Main Styles */
.container {
    margin: 50px auto;
    max-width: 600px;
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calculator-title {
    color: #004a7f;
    margin-bottom: 20px;
}

.calculator-body {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

input[type="number"],
input[type="text"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    margin-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
